﻿


<label class="labelOutput">Площадь  @ViewBag.Data.SquareS,м2 </label>
<br />
<label class="labelOutput"> Расход газа @ViewBag.Data.GasConsuption,м3/с </label>
<br />
<label class="labelOutput"> Отношение теплоемкостей потоков @ViewBag.Data.HeatRatio</label>
<br />
<label class="labelOutput">Полная относительная высота @ViewBag.Data.FullHight, м</label>
<br />
<label class="labelOutput"> Решение уравнения @ViewBag.Data.HardExpression</label>
<br />
<p class="ptab"> Таблица решения</p>
<table border="1" cellpadding="5" cellspacing="1">

    @for (int b = 0; b < ViewBag.Data.Resulttable.Length; b++)
    {
        <tr>
            @for (int z = 0; z < ViewBag.Data.line1.Count; z++)
            {

                <td>
                    @ViewBag.Data.Resulttable[b][z];
                </td>
            }
        </tr>

    }
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    var array= [];
    for (let i = 0; i < @ViewBag.Data.line1.Count; i++)
    {
        @{ int u = 0; }
        array.push(@ViewBag.Data.line8[u])
        @{u++;}
    }
    

    //console.log(array)
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        
        data.addColumn('number', 'Температура,оС');
        data.addRows([
            ['0', 218],
            ['0,5', 116],
            ['1', 61],
            ['1,5', 32],
            ['2', 17],
            ['2,5', 9],
            ['3', 5],
            ['3,5', 3],
            ['4', 1],
            ['4,5', 1],
            ['5', 0]
           
                 ])

        // Set chart options
        var options = {
            'title': 'Разность температур материала и газа',
            'width': 1000,
            'height': 500
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>



    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
