﻿


<div class="text-center">
    <h1 class="display-4">Расчет лабы</h1>
    <p>Введите начальные данные,а затем нажмите рассчитать.Все просто</p>
</div>

<form action="/Home/Calc" method="post">
    <label title=" Высота слоя">
        H <input type="text" name="layerHeight" value="5"/>
    </label> <br/>
    <label title="Начальная температура материала">
        t' <input type="text" name="TemperatyreMaterial" value="10"/>
    </label> <br/>
    <label title=" Начальная температура газа">
        T" <input type="text" name="TemperatyreGas" value="650"/>
    </label><br/>
    <label title=" Скорость газа на свободное сечение шахты">
        wr <input type="text" name="gasVelocity" value="0,74"/>
    </label><br/>
    <label title="Средняя теплоемкость газа">
        Cr <input type="text" name="averageWarm" value="1,35"/>
    </label><br/>
    <label title="Расход материалов">
        Gm <input type="text" name="materialConsumption" value="1,68"/>
    </label><br/>
    <label title="Теплоемкость материалов">
        Cm <input type="text" name="averageMaterialEating" value="1,49"/>
    </label><br/>
    <label title=" Объемный коэффициент теплоотдачи">
        αV <input type="text" name="WarmReturn" value="2460"/>
    </label> <br/>
    <label title="Диаметр аппарата">
        D <input type="text" name="agregateDiametr" value="2,2"/>
    </label> <br/>
    <input type="submit" name="name" value="Рассчитать"/>
</form>
