﻿@{
    ViewData["Title"] = "Бесплатные печеньки";
}

<div class="hpr">
    <h1>@ViewData["Title"]</h1>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Попроси их у создателя этой лабы</a></p>
</div>
